aiohttp==3.9.3
aiosignal==1.3.1
attrs==23.2.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
bs4==0.0.2
capstone==5.0.1
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colored-traceback==0.3.0
crypto==1.4.1
cryptography==42.0.5
discord.py==2.3.2
frozenlist==1.4.1
idna==3.6
intervaltree==3.1.0
lxml==5.1.0
Mako==1.3.2
MarkupSafe==2.1.5
multidict==6.0.5
Naked==0.1.32
packaging==23.2
paramiko==3.4.0
pillow==10.2.0
plumbum==1.8.2
psutil==5.9.8
pwntools==4.12.0
pycparser==2.21
pycryptodome==3.4.3
pycryptodome-test-vectors==1.0.14
pycryptodomex==3.20.0
pyelftools==0.30
Pygments==2.17.2
PyNaCl==1.5.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
ROPGadget==7.4
rpyc==6.0.0
setuptools==69.1.1
shellescape==3.8.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.5
tempmail-python==2.3.3
